.root {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  position: relative;
  font-family: 'Roboto Mono', sans-serif;
  background: #fff;
}

.app {
  position: absolute;
  padding: 60px 60px;
  box-sizing: border-box;
}
