.root {
  position: relative;
  cursor: none;
}

.cursor {
  position: absolute;
  display: none;
  z-index: 99999;
  pointer-events: none;
}

.cursorVisible {
  display: block;
}

@keyframes cursor-outline {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(-360deg); }
}


.cursorOutline {
  transform-origin: 50% 50%;
  animation: cursor-outline 20s linear infinite;
}